<div class="container">
  <div>
    <acme-navbar />
  </div>

  <div class="row">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h2>Food Challenges</h2>
        <p ng-repeat="challenge in challenges">
          <a ng-click="showChallenge(challenge)">{{challenge.name}}</a>
        </p>
        <h2>Potlucks</h2>
        <p ng-repeat="potluck in potlucks">
          <a ng-click="showPotluck(potluck)">{{potluck.name}}</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row" ng-if="potluck">
    <div class="large-6 columns">
      <potluck pot="potluck"/>
    </div>
  </div>

  <div class="row" ng-if="challenge">
    <div class="large-6 columns">
      <h2>{{challenge.name}}</h2>
      <button ng-click="signup()" class="button success">Sign Up</button>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Day</th>
            <th>Restaurant</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="day in challenge.days">
            <td>{{day.date | date}}</td>
            <td>{{day.name}}</td>
            <td>{{day.restaurant.name}}</td>
            <td><a ng-click="details(day)">Details</a></td>
          </tr>
        </tbody>
      </table>

      <alert ng-if="day" ng-model="day" type="alert.type" close="closeDetails($index)">
        <h3>Restaurant: {{day.restaurant.name}}</h3>
        <h5>Address: {{day.restaurant.address}}</h5>

        <ul ng-if="day.people.length">
          <lh>Attendees:</lh>
          <li ng-repeat="person in day.people">
            {{person.firstName}} {{person.lastName}} <span ng-if="person.color">Favorite Color: {{person.color}}</span>
          </li>
        </ul>
      </alert>
    </div>



    <div class="signup large-6 columns" ng-if="person">
      <h3>Sign up for {{challenge.name}} below, {{person.firstName}} {{person.lastName}}.</h3>
      <h4>Days:</h4>
        <div class="switch" ng-repeat="(i, day) in challenge.days">
          {{day.name}} - {{day.restaurant.name}} 

          <input id="{{i}}" type="checkbox" ng-checked="personOnDay(day, person) !== -1" name="testGroup" ng-model="day.personAdd">
          <label for="{{i}}"></label>

        </div> 
     
      <button class="button success" ng-click="save()">Save</button>
      <button class="button secondary" ng-click="cancelSignup()">Cancel</button>
    </div>

  </div>


</div>
