<div class="container">

  <div>
    <acme-navbar />
  </div>

  <div class="row" ng-if="!challenge">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h2>Food Challenges</h2>
        <button ng-click="editChallenge()">New</button>
        <p ng-repeat="c in challenges">
          <a ng-click="editChallenge(c)">{{c.name}}</a>
        </p>


      </div>
    </div>
  </div>


  <div class="row" ng-if="challenge.name || challenge.days">
    <div class="large-12 large-text-center columns">
      <div class="panel">
        <h1>{{challenge.name}}</h1>
        <p ng-repeat="day in challenge.days | orderBy:'date'">
          {{day.name}} 
          <button ng-if="day.name" ng-click="editDay(day)">Edit</button>
          {{day.date | date}}
        </p>

      </div>
    </div>
  </div>


  <div ng-if="challenge"> 
    <button ng-click="editDay()">Add Day</button>
    <div class="row">
      <div class="large-12 columns">
        <label>Name
          <input type="text" ng-model="challenge.name">
        </label>
      </div>
    </div>

    <div class="row" ng-if="day">
      <div class="large-6 columns">
        <label>Day
          <select ng-model="day.name" ng-options="d for d in daysofweek">
            <option value=''>--Select--</option>
          </select>
        </label>
      </div>

      <div class="large-6 columns">
        <label>Date
          <input type="date" ng-model="day.date">
        </label>
      </div>
    </div>

    <div class="row" ng-if="day">
      <div class="large-6 columns">
        <label>Restaurant Name
          <input type="text" ng-model="day.restaurant.name">
        </label>
      </div>

      <div class="large-6 columns">
        <label>Restaurant Address
          <input type="text" ng-model="day.restaurant.address">
        </label>
      </div>
    </div>

    <div>
      <button ng-click="save()" class="button success">Save</button>
      <button ng-click="remove()" class="button alert">Delete</button>
      <button ng-click="cancel()" class="button secondary">Cancel</button>
    </dov>



  </div>
